body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    margin: 0;
    font-weight: 400;
    color: #666;
    line-height: 1.8em;
    width:100vw;
    padding:0;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flexbox;
    justify-content:space-around;
    align-items: left;
    z-index: 10000;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background-color: white;
    color: #2b1055;
}


.pimg1,.pimg2,.pimg3, .pimg4
{
    position: relative;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1{
    background-image: url('./images/night-ocean.jpg');
    min-height: 870px;


}

.pimg2{
    background-image: url('./images/space-game.jpg');
    min-height: 700px;
}

.pimg3{
    background-image: url('./images/space-banner.jpg');
    min-height: 700px;

}
.pimg4{
    background-image: url('./images/img3.jpg');
    min-height: 700px;


}



.section1
{   background-color: #170038;
    color: #FFFFFF;
    text-align: center;
    padding: 50px 80px; 
}
.section2
{
    background-color:#2b1055;
    color: #FFFFFF;
    padding: 50px 80px; 
    text-align: center;
}
.section3
{
    background-color:#4E175B;
    color: #ffffff;
    padding: 50px 80px; 
    text-align: center;
}
.ptext
{
    position: absolute;
    margin-top: 200px;
    width: 100%;
    text-align: center;
    color: lightskyblue;
    letter-spacing: 5px;
    font-size: 27px;
    text-transform: uppercase;
    text-shadow: 3px 2px black
    
}
.ptext .border{
    background-color: black;
    color: #777;
    padding: 20px;

}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form-box {
    padding: 10px;
    border-radius: 5px;
    background: #ececec;
}
.form-box input {
    font-size: 18px;
    color: #000;
    padding: 15px 10px;
    border: none;
    outline: none;
    background: #ececec;
}
.form-box button {
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #FF7887;
    cursor: pointer;
    transition: .3s;
}